<div class=" bg-light">


    <nav class="container navbar navbar-expand-lg navbar-light bg-light py-0">
        <div style="max-width: 60%;">
            <a class="navbar-brand" routerLink="/" style="display: contents;">
                <img src="/assets/Image/logo.png" class="img-fluid py-1" style="width: 40%!important;" alt="">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                
                <!-- <li class="nav-item mr-1 p-1">
                    <a class="nav-link" href="#man's">Men's</a>
                </li>
                <li class="nav-item mr-1 p-1">
                    <a class="nav-link" href="#dress_product">Woman's</a>
                </li>
                <li class="nav-item mr-1 p-1">
                    <a class="nav-link" href="#">Kide's</a>
                </li> -->
                <li class="nav-item dropdown mr-1 p-1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategries" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        All Categries
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownCategries"  >
                        
                        
                        <a class="dropdown-item"  *ngFor="let category of AllCategory" routerLink="/CategoryProducts/{{category.Id}}/{{category.Name}}" style="color: rgba(0,0,0,.5) !important">
                            {{category.Name}}
                        </a>
                        
                    </div>
                </li>
                

                <li class="nav-item dropdown mr-1 p-1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown ">
                        <a class="dropdown-item" routerLink="/createCategory" style="color: rgba(0,0,0,.5) !important"
                            *ngIf="checkAdmin(['Admin'])">Create Category</a>
                        <a class="dropdown-item" routerLink="/Category" style="color: rgba(0,0,0,.5) !important">Category</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/createProduct" style="color: rgba(0,0,0,.5) !important"
                            *ngIf="checkAdmin(['Admin'])">Create Product</a>
                        <a class="dropdown-item" href="/Product/Index" style="color: rgba(0,0,0,.5) !important">Product</a>
                    </div>
                </li>

                    
                    <li class="nav-item mr-1 p-1 btn-cart"  *ngIf="IsLoggin">
                        <a class="nav-link" routerLink="FaviorateProducts"><i class="fas fa-heart"></i></a>
                    </li>
                    <li class="nav-item mr-1 p-1 btn-cart"  *ngIf="IsLoggin">
                        <a class="nav-link" routerLink="/cart"><i class="fas fa-shopping-cart"></i></a>
                    </li>
                
                    <li class="nav-item mr-1 p-1 nav-login" *ngIf="!IsLoggin">
                        <a class="nav-link border rounded" routerLink="LogIn">Login</a>
                    </li>
                    <li class="nav-item mr-1 p-1 nav-regist" *ngIf="!IsLoggin">
                        <a class="nav-link border rounded"  routerLink="/regist">Regist</a>
                    </li>
                    

                    <li class="nav-item dropdown mr-1 p-1 li-profile"  *ngIf="IsLoggin">
                        <a class="nav-link dropdown-togle p-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img [src]="photo" class="img-fluid img-icon mr-1" alt="">{{userName}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown ">
                            
                            
                            <a class="dropdown-item" routerLink="/MyOrders" style="color: rgba(0,0,0,.5) !important">MyOrders</a>
                            <a class="dropdown-item" routerLink="/editProfile" style="color: rgba(0,0,0,.5) !important;">Profile</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"   (click)="LogOut()" style="color: rgba(0,0,0,.5) !important;">Sign Out</a>
                        </div>
                    </li>
                <!-- } -->

            </ul>
        </div>
    </nav>




</div>
