.nav-item:hover {
    background-color: #e32e00;
}

    .nav-item:hover a {
        color: white !important;
    }

.nav-Sign-Out, .passNotCorrect, .btn-cart {
}
/*modal-header-login*/
.modal-header-login {
    background-color: rgb(227, 46, 0,.9);
    color: white !important;
}

.btn-orange {
    background-color: rgb(227, 46, 0) !important;
    color: white !important;
    border: none !important;
}

    .btn-orange:hover {
        color: rgb(227, 46, 0) !important;
        background-color: white !important;
        border: 1px solid rgb(227, 46, 0) !important;
    }
