<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-loader" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<h2>ShowDetails</h2>

<div class="  w-100 m-auto ">
    <div class="container showProductDetails2 border rounded ">
        <div class="row  p-2 ">
            <div class="col-12 col-md-5 d-flex justify-content-center align-items-center">
                <img [src]="product.Image" class="img-fluid details-big-image" alt="" style="width: 60%;" />
            </div>
            <div class="col-12 col-md-7">
                <h1 class="details-Name">{{product.Name}}</h1>
                <div class="pt-md-2 ">
                    <h4 style="display: inline;"> Price : </h4>
                    <h5 class="details-Price" style="display: inline;">{{product.Price}}</h5>
                </div>

                <h5 class="pt-md-2">Description :</h5>
                <div class=" ">
                    <p class="details-descripe">{{product.Description}}</p>
                </div>
                <h5>Quantity</h5>
                <div class="row ">
                    <button class="btn  btn-orange col-1 rounded-left btn-Decrease" (click)="Decrease()" style="border-radius:0;">-</button>
                    <div class="border-0 rounded-left p-0  col-1  d-flex justify-content-center">
                        <input type="number" class="form-control text-center rounded-0 btn-orange border-0 Quantity px-1" id="formGroupExampleInput" [value]="Quantity" maxProductAvailable="@Model.Quentity" name="Qty" disabled>
                    </div>
                    <button class="btn  btn-orange col-1 rounded-right btn-Increase" (click)="Increase()" style="border-radius:0;">+</button>
                </div>
            </div>

        </div>
        <div class="row justify-content-center py-2">
            <a class="btn btn-primary btn-orange mr-1 btn-Add-To-Card" href="/Cart/Create?productId=@Model.Id&quentity=1" id="cart-url">Add To Cart</a>
            <a href="/Favorite/AddProduct_TO_Faviorate/@Model.Id" class="btn btn-orange mr-1 btn-Add-To-Card">Add to Faviorate</a>
        </div>
    </div>
    <!-- <hr />
    <div id="Comments">
        <!- @foreach (var item in Model.Comments)
        { ->
            <div class="row" id="comment-row">
                <div class="col-1">@item.user.UserName</div>
                <div class="col-11">@item.comment</div>
            </div>
        <!-- } ->
    </div>

    <form action="/Product/Comment" method="post">
        <input type="text" name="comment" id="comment" />
        <input type="hidden" name="product_Id" id="product_Id" value="@Model.Id" />
        <!-- @*@Html.ActionLink("Post", "Comment",new { product_Id=Model.Id ,comment=""},new { @id= "PostBtn" })*@ ->
        <input type="submit" />
    </form> -->
</div>
