.btn{
    color: #e32e00 !important;
}
.price{
    color:#5965b1;
}
input{
    padding: 1%;
    width: 4rem;
    font-size: 1.1rem;
    text-align: center;
}
.bord
{
    border:1px solid rgba(255,136,86,255);
    padding: 3% 1%;
    color: rgba(242,85,16,255);
}
.title{
    color: #222e6a;
}