<p>order works!</p>
<div class="row">
    <div class="col-12 col-md-8">
        <h2>My Orders</h2>
        <!--  -->
        <div *ngFor="let order of orders" class="bord mb-3">
         <p style="color: blue;">Date : {{order.Date}}</p>
         <p style="color: blue;">TotalPrice : {{order.TotalPrice}} EGP</p>
            <div class="border shadow-sm  p-3 rounded mt-3" *ngFor="let product of order.Products">
                <div class="row">
                    <div class="col-4 ">
                        <img src="{{product.Image}}" class="img-fluid" style="height:10rem;"/>
                    </div>
                    <div class="col-8">
                        <h3 class="mb-4">{{product.Name}}</h3>
                        <h5 class="price">{{product.Price}} EGP</h5>
                        <div>
                            <h5 class="d-inline mr-2">Quantity:{{product.Quentity}}</h5>
                        </div>
                    </div>
                </div>

                <!-- <div class="mt-2 border-top ">
                    <button class="btn mx-3 mt-2 p-0">Save To Favorite</button>
                    <button class="btn mx-3 mt-2 p-0" (click)="delete(5)">Delete</button>
                </div> -->
            </div>

        </div>
    </div>
    <div class="col-12 col-md-4">
        
    </div>
</div>