

<div class="row">
    <div class="col-12 col-md-8">
        <h2>Shopping Cart</h2>
        <!-- *ngFor="let product of products" -->
            <div class="border shadow-sm  p-3 rounded" >
                <div class="row">
                    <div class="col-4 ">
                        <img src="/assets/Image/mens-tops-5.jpg" class="img-fluid" style="height:10rem;"/>
                    </div>
                    <div class="col-8">
                        <h3 class="mb-4">product Nmae</h3>
                        <h5 class="price">50 EGP</h5>
                        <div>
                            <h5 class="d-inline mr-2">Quantity</h5>
                            <input type="number" min="1">
                        </div>
                    </div>
                </div>

                <div class="mt-2 border-top ">
                    <button class="btn mx-3 mt-2 p-0">Save To Favorite</button>
                    <button class="btn mx-3 mt-2 p-0" (click)="delete(5)">Delete</button>
                </div>
            </div>
    </div>
</div>
