<div class="container pt-4">
  <form [formGroup]="CreateProductForm">
    <div class="row">
      <div class="col-11 col-md-6 bord p-4">
        
        <h2 class="mb-3 text-center">Create Product</h2>
        <div class="form-group">  
          <label>Product Name</label>
          <input formControlName="productName" [class.is-invalid]="productName.invalid && productName.touched"
            type="text" class="form-control" />
          <div *ngIf=" productName.errors && (productName.invalid && productName.touched)">
            <small class="text-danger" *ngIf="productName.errors?.required">
              Product name is required
            </small>
            <small class="text-danger" *ngIf="productName.errors.minlength">
              Product Name Must Be More than 4
            </small>

          </div>
        </div>

        <div class="form-group">
          <label>Price</label>
          <input formControlName="productPrice" [class.is-invalid]="productPrice.invalid && productPrice.touched"
            type="number" class="form-control" />
          <small class="text-danger" *ngIf="productPrice.invalid && productPrice.touched">Price Is required</small>
        </div>

        <div class="form-group">
          <label>Quantity</label>
          <input formControlName="productQuentity"
            [class.is-invalid]="productQuentity.invalid && productQuentity.touched" type="number"
            class="form-control" />
          <small class="text-danger" *ngIf="productQuentity.invalid && productQuentity.touched">Quantity Is
            required</small>
        </div>

        <div class="form-group">
          <label>Description</label>
          <input formControlName="productDescription"
            [class.is-invalid]="productDescription.invalid && productDescription.touched" type="text"
            class="form-control" />
          <div *ngIf=" productDescription.errors && (productDescription.invalid && productDescription.touched)">
            <small class="text-danger" *ngIf="productDescription.errors?.required">
              Product Description is required
            </small>
            <small class="text-danger" *ngIf="productDescription.errors.minlength">
              Product Description Must Be More than 10
            </small>
          </div>
        </div>

        <div class="form-group">
          <label>Categroy</label>
          <select class="form-control" formControlName="categroy">

            <option *ngFor="let cat of catgoryies" [ngValue]="cat.Id">{{cat.Name}}</option>

          </select>

        </div>

        <div class="form-group">
          <label>Discount</label>
          <input formControlName="productDiscount" type="number" class="form-control" />
        </div>


        <div class="form-group">
          <label for="file" class="d-block">Upload Image</label>
          
          <div class="text-center">
            <img [src]="photo" class="img-fluid img-product" (click)="imgload.click()">
          </div>
          <input type="file" id="file" (change)="handleFileInput($event.target.files)" #imgload class="form-control d-none"
            formControlName="productImage">
        </div>

        <div class="text-center mt-4">
          <button type="submit" class="btn btn-orange" [disabled]="CreateProductForm.invalid"
            (click)="addNewProduct()">Add new Product</button>
        </div>

      </div>
    </div>

  </form>
</div>
