
<div class="container pt-4">  
    <form #productForm="ngForm" novalidate (ngSubmit)="onSubmit(productForm)" style="margin-bottom: 20px;">
        <div class="row">
            
        <div class="col-6 bord">
            <h1 style="color: cornflowerblue;">Edit Product</h1>
        <div class="form-group">
            <label>Product Name :</label>
            <input type="text" name="txtName" [class.is-invalid]="name.invalid && name.touched " required minlength="4"  #name="ngModel" [(ngModel)]="product.Name"  class="form-control">
             <small class="text-danger" [class.d-none]="name.untouched || name.valid" >Product Name is required and should be more than 3 letter</small>
        </div>
        <div class="form-group">
            <label>Product Price :</label>
            <input type="number" name="txtPrice" #price="ngModel" [(ngModel)]="product.Price" [class.is-invalid]="price.invalid && price.touched " required class="form-control">
            <small class="text-danger" [class.d-none]="price.untouched || price.valid" >Product Price is required</small>

        </div>
        <div class="form-group">
            <label>Discount:</label>
            <input type="number" name="txtDiscount" #Discount="ngModel" [(ngModel)]="product.Discount" [class.is-invalid]="Discount.invalid && Discount.touched " class="form-control">
            <small class="text-danger" [class.d-none]="Discount.untouched || Discount.valid" >Product Price is required</small>

        </div>
        <div class="form-group">
            <label>Description :</label>
            <input type="text" name="txtdesc" #description="ngModel" [class.is-invalid]="description.invalid && description.touched " [(ngModel)]="product.Description" required minlength="10" class="form-control">
            <small class="text-danger" [class.d-none]="description.untouched || description.valid" >description is required and should be more than 9 letter</small>

        </div>
        <div class="form-group">
            <label>Quentity :</label>
            <input type="number" name="txtQuentity" #Quentity="ngModel" [class.is-invalid]="Quentity.invalid && Quentity.touched " [(ngModel)]="product.Quentity" class="form-control" required>
            <small class="text-danger" [class.d-none]="Quentity.untouched || Quentity.valid" >Quentity is required</small>

        </div>
        <div class="form-group">
            <label class="d-block">Image</label>
            <div class="text-center">
                <input type="file" class="d-block mt-3" style="margin: auto;" accept="image/*"
                 (change)="handleFileInput($event.target.files)">

                 <div class="col-12 col-md-5 d-flex mt-3" style="flex-direction: row;align-items: center;">
                     
                        <img [src]="product.Image" class="img-fluid " alt="" />
                        <!-- <label>New Image :</label> -->
                        <img  *ngIf="imgURL" [src]="imgURL" class="img-fluid bord2" alt="" />
                    
                    
                </div>

            </div>


        </div>
        
        <!-- <img [src]="'../../assets/'+product.Image" *ngIf="imageSrc" style="height: 300px; width:500px">  -->
        <div class="form-group">
            <label> Category :</label>
           
            <select class="custom-select"  #Cat="ngModel" name="ddlsocials" [(ngModel)]="product.Category_Id">
                
                
                <option *ngFor="let cat of categories" [ngValue]="cat.Id">
                {{cat.Name}}
                </option>
               
            </select>
        </div>
        <input type="submit" class="btn btn-orange" value="Save Product" [disabled]="productForm.form.invalid">
      </div>
        </div>
    </form>
</div>

