<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-loader" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="container pt-4">
    <h1 class="titlePage">Faviorate Products</h1>
<div *ngIf="isEmprty; else showProducts">
    <h1>You Faviorate Cart Is Empty</h1>
</div>

<ng-template #showProducts>
    <div class="row">
        <div class="col-12 col-md-4" *ngFor="let product of products">
            <div class="card">
                <div class="data">
                    <img src={{product.Image}} class="card-img-top img-fluid" alt="...">
                    <h5 class="card-title">Quick Shop</h5>
                </div>
                <div style="margin-left: 10px;">
                    <p>{{product.Name}}</p>
                    <p >Price : {{product.Price}} EGP</p>
                    <p>{{product.Description}}</p>
                </div>
                <div class="card-body text-center">
                  <a class="btn btn-orange mr-2">Add To Cart</a>
                  <a (click)="remove(product.Id)" class="btn btn-orange">Remove</a>
                </div>
            </div>
        </div>
    </div>
</ng-template>

</div>

