<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-loader" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<app-header></app-header>
<app-search class="pb-4"></app-search>

<div class="container">
    <div>
      <div class="card" [style.margin-bottom]="'50px'">
        <div class="card-deck ml-0 mr-0">
          <div [ngStyle]="categroyHeaderStyle">
            <div class="d-inline-block">
              <h3 [style.margin]="'5px'">{{catName}}</h3>
            </div>
            <div class="d-inline-block float-right m-2"> <a href="#" class="btn-link text-white ">More</a> </div>
          </div>
  
          <div *ngFor="let prod of products">
            <div>
              <div [ngClass]="cardClass">
                <img class="card-img-top" [src]="prod.Image" alt="Card image cap" style="height: 9rem; width: 11rem;">
                <div class="card-body">
                  <h6 class="card-title mb-0" style="color:darkorange;">{{prod.Name}}</h6>
                  <p class="card-text mb-0" style="color:darkorange;">{{prod.Price}} EGP</p>
                  <a class="btn btn-dark mt-2" (click)="onProductClick(prod)">Show Deatils</a>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>