<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-loader" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<app-header></app-header>
<app-search></app-search>

<div class="container pt-4">
  <div class="col-12">
    <div  [style.margin-bottom]="'50px'">
      <div class="ml-0 mr-0">
          <div [ngStyle]="categroyHeaderStyle">
            <div class="d-inline-block">
              <h3 [style.margin]="'5px'">{{catName}}</h3>
            </div>
          </div>
  
          <div class="row">
            <div class="col-12 col-md-3" *ngFor="let pro of products">
              <div class="card">
                <div class="data">
                  <img src={{pro.Image}} class="card-img-top img-fluid" alt="...">
                </div>
                <div class="card-body text-center">
                  <h4 class="card-title">{{pro.Name}}</h4>
                  <p class="details">{{pro.Price}} EGP</p>
                  <a class="btn btn-edit mr-2" (click)="ShowDetails(pro.Id)">Quick Shop</a>
                  <a class="btn btn-edit mr-2" (click)="EditProduct(pro.Id)" *ngIf="checkAdmin(['Admin'])">Edit</a>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>