<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-loader" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="title">
    <h1>Categories</h1>
</div>

<div class="row">
    <div class="col-12 col-md-4" *ngFor="let category of AllCategory">
        <div class="card" >
            <div class="data">
                <img src={{category.Image}} class="card-img-top img-fluid" alt="...">
                <h5 class="card-title">{{category.Name}}</h5>
            </div>
            <div class="card-body text-center">
              <a href="#" class="btn btn-edit mr-2">Edit</a>
              <a (click)="remove(category.Id)" class="btn btn-orange" >Remove</a>
            </div>
        </div>
    </div>
</div>