<div class="container">
  <div *ngFor="let cat of categroyies">
    <div class="card" [style.margin-bottom]="'50px'">
      <div class="card-deck ml-0 mr-0">
        <div [ngStyle]="categroyHeaderStyle">
          <div class="d-inline-block">
            <h3 [style.margin]="'5px'">{{cat.Name}}</h3>
          </div>
          <div class="d-inline-block float-right m-2"> <a  class="btn-link text-white" (click)="showProducts(cat)" style="cursor: pointer;">More</a> </div>
        </div>
<!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
 <!-- <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
 <div class="carousel-inner">
 <div class="carousel-item active"> -->

  <!-- <div *ngFor="let prod of getProducts(cat); let i = index">

     <h1>{{i}}</h1>
    <div [ngClass]="cardClass">
      <img class="card-img-top" [src]="prod.Image" alt="Card image cap" style="height: 9rem; width: 10rem;">
      <div class="card-body">
        <h6 class="card-title mb-0">{{prod.Name}}</h6>
        <p class="card-text mb-0">{{prod.Price}}</p>
        <a class="btn show-btn" (click)="onProductClick(prod)">Show Deatils</a>
      </div>
 
  </div>
</div> -->


 <!-- </div>

 </div> 

 </div>  -->

 <!-- <div *ngFor="let prod of Products; let i = index">
  <div *ngIf="FilterProduct(cat , prod)">
  
     <h1>{{i}}</h1>
    <div [ngClass]="cardClass">
      <img class="card-img-top" [src]="prod.Image" alt="Card image cap" style="height: 9rem; width: 10rem;">
      <div class="card-body">
        <h6 class="card-title mb-0">{{prod.Name}}</h6>
        <p class="card-text mb-0">{{prod.Price}}</p>
        <a class="btn show-btn" (click)="onProductClick(prod)">Show Deatils</a>
      </div>
    </div>

  </div>
</div> --here>
      
<!--/////////////////////////////////////////////////////////////-->
      </div>
    </div>
  </div>
</div>
<!-- <div class="card col-3 border border-white "  >
  <img class="card-img-top" src="assets/Image/mens-tops-5.jpg" alt="Card image cap" style="height: 10rem;" >
  <div class="card-body">
    <h6 class="card-title">Product Name</h6>
    <p class="card-text">EGP 125</p>
    <a href="#" class="btn show-btn">Show Deatils</a>
  </div>
</div> -->

<!-- <div *ngFor="let prod of Products">
  <div *ngIf="FilterProduct(cat , prod)">

    <div [ngClass]="cardClass">
      <img class="card-img-top" [src]="prod.Image" alt="Card image cap" style="height: 9rem; width: 11rem;">
      <div class="card-body">
        <h6 class="card-title mb-0">{{prod.Name}}</h6>
        <p class="card-text mb-0">{{prod.Price}}</p>
        <a class="btn show-btn" (click)="onProductClick(prod)">Show Deatils</a>
      </div>
    </div>
  </div>
</div> -->

<!-- <div *ngFor="let prod of Products; let i = index">
  <div *ngIf="FilterProduct(cat , prod)">
  
     <h1>{{i}}</h1>
    <div [ngClass]="cardClass">
      <img class="card-img-top" [src]="prod.Image" alt="Card image cap" style="height: 9rem; width: 10rem;">
      <div class="card-body">
        <h6 class="card-title mb-0">{{prod.Name}}</h6>
        <p class="card-text mb-0">{{prod.Price}}</p>
        <a class="btn show-btn" (click)="onProductClick(prod)">Show Deatils</a>
      </div>
    </div>

  </div>
</div> -->